<?xml version="1.0" encoding="UTF-8"?>
<!-- 借助此Bean对象创建SqlSessionFactory对象
                     ，当我们调用工厂对象的getBean方法获取id为sqlSessionFactory
                        的对象时，系统会返回SqlSessionFactoryBean对象的getObject
                        方法返回的对象。-->
       <bean id="sqlSessionFactory"
             class="org.mybatis.spring.SqlSessionFactoryBean">
             <property name="DataSource" 
                       ref="dataSource"/>
             <!-- 设置mapper文件的位置 -->
             <property name="MapperLocations"
              value="classpath*:mapper/sys/*Mapper.xml"/>
       </bean>
